*~
*.o
*.lo
*.la
Makefile
Makefile.in
aclocal-copy/
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
i586-oe-linux-libtool
install-sh
libxenbackend-config
libxenbackend.pc
ltmain.sh
m4/
missing
src/.libs/
src/stamp-h1
version.sed
